<ion-content [fullscreen]="true">
  <!-- Componete para mostrar titulo -->
  <app-titulo titulo="Pelicula Reciente"></app-titulo>
  <!-- Componete para mostrar titulo -->

  <app-slideshow-backdrop [Peliculas]="peliculaReciente"></app-slideshow-backdrop>
<!-- Componete para mostrar titulo -->
  <app-titulo titulo = "Peliculas en Cartelera"></app-titulo>
  <!-- Componete para mostrar titulo -->

 <app-slideshow-poster [Peliculas]="peliculaReciente"></app-slideshow-poster>
 <!-- Componete para mostrar titulo -->
 <app-titulo titulo = "Populares"></app-titulo>
  <!-- Componete para mostrar titulo -->

 <app-slideshow-poster [Peliculas]="populares"></app-slideshow-poster>
 
</ion-content>

