<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-title class="ion-text-center">Pelis App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Componete para mostrar titulo -->
  <app-titulo titulo="Pelicula Reciente"></app-titulo>
  <!-- Componete para mostrar titulo -->

  <app-slideshow-backdrop [Peliculas]="peliculaReciente"></app-slideshow-backdrop>

  
 <app-titulo titulo = "Pelicula mas Ranking"></app-titulo>
<app-slideshow-poster [Peliculas]="TopRanking" 
                      (cargarMas)="cargarMas()"></app-slideshow-poster>

 <app-titulo titulo = "Populares"></app-titulo>
 <app-slideshow-poster [Peliculas]="populares"
                       (cargarMas)="cargarMas()" ></app-slideshow-poster>

<app-titulo titulo = "Películas para niños"></app-titulo>
<app-slideshow-poster [Peliculas]="ninos" 
                      (cargarMas)="cargarMas()"></app-slideshow-poster>

<app-titulo titulo = "Mejores pelicula animadas"></app-titulo>
<app-slideshow-poster [Peliculas]="Generos" 
                      (cargarMas)="cargarMas()"></app-slideshow-poster>

<app-titulo titulo = "Pelicula de accion,ciencia ficcion y mas"></app-titulo>
<app-slideshow-poster [Peliculas]="GeneMixtos" 
                      (cargarMas)="cargarMas()"></app-slideshow-poster>


 
</ion-content>

